<div class="container">
  <div class="row mt-3">

    <div class="col">
      <div class="list-group">
        <a *ngFor="let character of charactersArray" class="list-group-item list-group-item-action"
          (click)="selectCharacter(character)">{{character.name}}</a>
      </div>
    </div>

    <div class="col">
      <app-character
        [character]="characterSelected"
        (saveEvent)="updateCharacter($event)"
        (deleteEvent)="deleteCharacter($event)"></app-character>
    </div>

  </div>
</div>
